#gallery-container {
    margin-left: 50px;
    margin-right: 50px
}

.image-cover {
    /* background-size: 100% 100%; */
}

.image-row {
    margin-bottom: 20px;
}

.image {
    opacity: 1;
    transition: .3s ease;
}

.middle {
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-cover:hover .image {
    opacity: 0.5;
    cursor: pointer;
}

.image-cover:hover .middle {
    opacity: 1;
    cursor: pointer;
}

.viewButton {
    width: 200px;
}

.line-break {
    margin-top: 30px;
    margin-bottom: 30px;
}

.description-heading {
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px;
    text-align: right;
    font-size: 1.4vw;
}

.detail-description {
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.3vw;
}

.view-button {
    text-align: center;
    margin-left: 15px;
}

.react-images__header {
    margin:50px !important;
    background: none !important;
}

.react-images__positioner {
    z-index: 30 !important;
}