#gallery-container {
    margin-left: 30px;
    margin-right: 30px
}

.image-cover {
    /* background-size: 100% 100%; */
}

.image-row {
    margin-bottom: 20px;
}

.image {
    opacity: 1;
    transition: .3s ease;
}

.middle {
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-cover:hover .image {
    opacity: 0.5;
    cursor: pointer;
}

.image-cover:hover .middle {
    opacity: 1;
    cursor: pointer;
}

.viewButton {
    width: 200px;
}

.line-break {
    margin-top: 30px;
    margin-bottom: 30px;
}